[Unit]
Description=Nix Daemon Socket
Before=multi-user.target
RequiresMountsFor=/nix/store
ConditionPathIsReadWrite=/nix/var/nix/gc-socket

[Socket]
ListenStream=/nix/var/nix/gc-socket/socket
Accept=false

[Install]
WantedBy=sockets.target
